<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.codvision.webproject">

    <uses-permission android:name="android.permission.FOREGROUND_SERVICE" />
    <!--                            省厅权限                                     -->
    <!--基础信息的权限，授权认证等-->
    <uses-permission android:name="cybertech.permission.READ_PSTORE" />
    <!--读取用户信息的权限-->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_USERINFO" />
    <!--读取同步时间的权限-->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_SERVER_SYNC_TIME" />
    <!--读取链路信息的权限-->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LINKINFO" />
    <!--读取位置信息的权限-->
    <uses-permission android:name="cybertech.permission.READ_PSTORE_LOCATIONINFO" />
    <!--提交操作日志的权限-->
    <uses-permission android:name="cybertech.permission.WRITE_PSTORE_OPERATIONLOG" />
    <!--提交状态数据的权限-->
    <uses-permission android:name="cybertech.permission.WRITE_PSTORE_APP_STATE_MONITOR" />
    <!--                            end                                     -->
    <application
        android:name=".App"
        android:allowBackup="true"
        android:icon="${APP_ICON}"
        android:label="${APP_NAME}"
        android:roundIcon="${APP_ROUND_ICON}"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait">
            <intent-filter>
<!--                <action android:name="android.intent.action.MAIN" />-->

<!--                <category android:name="android.intent.category.LAUNCHER" />-->
                <action android:name="${ENTRY_ACTION}" />
                <category android:name="${ENTRY_CATEGORY}" />
            </intent-filter>
        </activity>
    </application>

</manifest>